:root {
	--background-color: rgb(8, 12, 16);
	--background-color-alt: rgb(16, 20, 24);
	--border: 1px solid rgb(64, 64, 64);
	--color: rgb(224, 224, 224);
	--font-family: Arial, 'Times New Roman', serif;
	--nav-background-color: rgb(0, 4, 8);
	--table-body-max-height: 75vh;
}

body {
	background-color: var(--background-color);
	color: var(--color);
	font-family: var(--font-family);
	height: 100vh;
	margin: 0;
}

.hidden {
	display: none;
	visibility: hidden;
}

.hidden-important {
	display: none !important;
	visibility: hidden !important;
}

/* Navigation */
nav {
	background-color: var(--nav-background-color);
}

nav > div {
	display: flex;
	gap: 16px;
	margin: 0 auto;
	width: 50%;
}

nav > div > * {
	cursor: pointer;
	padding: 16px;
}

nav > div > *:hover {
	color: #fff;
}

nav > div > *.active {
	background-color: var(--background-color-alt);
}

/* Search */
.data-search {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 16px 0;
}

.data-search input {
	background-color: var(--background-color-alt);
	border: 0;
	border-radius: 4px;
	color: var(--color);
	font-size: 16px;
	padding: 8px;
	width: 25%;
}

.data-search input:focus {
	outline: none;
}

/* Data Table */
.data-table {
	border: var(--border);
	margin: 0 auto;
	width: 50%;
}

/* Data Table - Header */
.data-table > div:first-child {
	align-items: center;
	background-color: var(--background-color-alt);
	border-bottom: var(--border);
	display: inline-flex;
	overflow-y: scroll;
	scrollbar-color: transparent transparent;
	scrollbar-width: thin;
	width: 100%;
}

.data-table > div:first-child > div {
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	padding: 12px 8px;
}

.data-table > div:first-child > div:first-child {
	width: 70%;
}

.data-table > div:first-child > div:nth-child(2) {
	text-align: center;
	width: 20%;
}

.data-table > div:first-child > div:last-child {
	text-align: right;
	width: 10%;
}

.data-table > div:first-child > div > span:first-child {
	width: 100%;
}

.sort-arrows {
	margin-left: auto;
	padding: 0 16px 0 2px;
	position: relative;
}

.sort-arrow {
	color: rgb(96, 96, 96);
	font-size: 32px;
	position: absolute;
}

.sort-up {
	top: -34px;
}

.sort-up:before {
	content: '\1F891';
}

.sort-down {
	top: 2px;
}

.sort-down:before {
	content: '\1F893';
}

.sort-active {
	color: #fff;
}

/* Data Table - Body */
.data-table > div:last-child {
	max-height: var(--table-body-max-height);
	overflow-y: auto;
	scrollbar-width: thin;
}

/* Data Table - Rows */
.data-table > div:last-child > div {
	align-items: center;
	display: flex;
}

.data-table > div:last-child > div:not(:last-child) {
	border-bottom: var(--border);
}

.data-table > div:last-child > div:hover {
	background-color: var(--background-color-alt);
}

/* Data Table - Data */
.data-table > div:last-child > div > div {
	align-items: center;
	box-sizing: border-box;
	display: inline-flex;
	padding: 12px 8px;
}

.data-table > div:last-child > div > div:first-child {
	width: 70%;
}

.data-table > div:last-child > div > div:nth-child(2) {
	justify-content: center;
	width: 20%;
}

.data-table > div:last-child > div > div:last-child {
	justify-content: flex-end;
	width: 10%;
}

/* No Data */
.no-data {
	display: block;
	padding: 16px;
	text-align: center;
}

/* Data Info */
.data-info {
	margin: 0 auto;
	padding: 16px 0;
	text-align: right;
	width: 50%;
}
